.unit-display {
  display: flex;
  align-items: center;
  color: gold;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;

  &.selected, &.double-column:hover {
    background-color: lighten(@background-grey, 10%);
  }
  &:not(.selected) {
    cursor: pointer;
  }

  &.double-column {
    .data-list {
      margin-left: 10px;
    }
  }

  .player-icon {
    width: 84px;
    height: 84px;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    border: 2px solid grey;
  }

  .level-circle {
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 1px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: gold 2px solid;
  }

  .additional-data {
    color: white;
    font-weight: normal;
    white-space: pre;
  }
}
