#viewed-map {
    background-image: url("./maps/947.jpg");
    background-repeat: no-repeat;
    width: 1002px;
    height: 668px;
    margin-left: auto;
    margin-right: auto;
}

.hover-path path {
}
.hover-path path:hover {
    visibility: initial;
    opacity: 0.2;
}
.hover-path path {
    fill: white;
    pointer-events: all;
    visibility: hidden;

    -webkit-filter: blur(18px);
    filter: blur(5px);
}

h1 {
    text-align: center;
}
